# node_modules
node_modules/

# Output de build
dist/

# arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema e IDEs
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ambiente local
.env.local
.env.*
!.env.example
